.wrapper{
  width:300px;
  background-color: darkgrey;
}
.floor{
  background-color: darkgrey;
  width: 200px;
}
active{
  background-color: cornflowerblue;
  color: #fff;
}
.blackline{
  border:2px solid black;
  width:98%;
}
.button{
  width:20px;
}
